<% if @genres.count >0 %>
<% @genres.each do |genre| %>
<div class='col-md-2 pad-zero text-center marg-top' id="genre_<%= genre.id %>"> 
	<%= link_to image_tag(genre.cover_page.url(:medium)), genre %> <br>
	<h4><%= link_to genre.name, genre %></h4>

	<div class='marg-top10 marg-bot10'>
		<%= link_to image_tag('button_icons/writing.png'), edit_genre_path(genre), remote: true, id:"edit_genre_button", title:"Edit #{genre.name}" %>
		<%= link_to image_tag('button_icons/remove.png'), genre, method: :delete, data: { confirm: 'Are you sure you want to delete?' }, title:"Delete #{genre.name}", remote: true %>  
	</div>
	<div class='well marg-top marg-bot text-left'>     
		<h6 class='marg-top10'>Books: <% if genre.books.any? %> <%= genre.books.count%> <% else %> <br>No Books Available <% end %> </h6>
	</div>  
</div>
<% end %>
<div class='marg-top col-md-6 col-md-offset-3'> <%= will_paginate @genres, renderer: BootstrapPagination::Rails %> </div>
<script> $(function(){ $('.pagination a').attr('data-remote', 'true') }); </script>
<% elsif not @genres.count >0 %>
<div class='well col-md-8 col-md-offset-2'>
	<h3> No Genres Available</h3> 
	<h6> Please Click the <strong>Plus Icon</strong> to create a New Genre</h6>
</div>
<% end %>