<% provide(:title,@genre.name)%>
<div class='col-md-12 pad-zero'>
	<div class='col-md-4 '> 
		<div class='marg-top2 text-center'>
			<%= image_tag(@genre.cover_page.url(:large)) %>
		</div>	
		<h3 class='text-center'> <%= link_to @genre.name, @genre %> </h3>
		<div class='well'>
			<h6> Books Available: <% if @genre.books.any? %> <%= @genre.books.count%> <% else %> <br>No Books Available <% end %> </h6>
		</div>
	</div>

	<div class='col-md-6 ' id='genre_books'> <% if @books_of_genre %> <%= render 'books_of_genre' %> <% end %></div>

	<div class='col-md-2 text-right '>
		<%= link_to image_tag('button_icons/back_button.png'), genres_path %>
		<span class='marg-left'><%= link_to "Back", genres_path %></span>
	</div>
</div>