<div class='form_border'>
	<h4> Change Membership of <strong style='margin-left: 5%;'> <%= "#{show_user_name(@membership.user_id)}" %></strong> for Group <strong> <%= "#{show_group_name(@membership.group_id)}" %> </strong></h4>
	<div class=' col-md-12 marg-top'>
		<%= form_for(@membership, url: edit_membership_path(@membership), remote: true) do |f| %>
		<div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3 marg-bot'>
			<%= f.radio_button :request_approved,  't', class: "marg-top", checked: true %>
			<%= f.label :request_approved_t,  "Approve" %>
		</div>

		<div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 marg-bot'>
			<%= f.radio_button :request_approved, 'f', class: "marg-top" %>
			<%= f.label :request_approved_f, "Remove" %>
		</div>

		<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 marg-bot'>
			<button type="submit" class='btn btn-success'> Submit </button>
			<button type="button" class='btn btn-default' id='cancel_form_button'> Cancel </button>
		</div>

		<% end %>

	</div>
</div>