<% provide(:title, "Reset Password") %>

<div class='col-md-6 col-md-offset-3 marg-top' >
	<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
	<%= render 'common_form_errors/atuser_form_errors' %>

	<div class='text-center'>
		<%= image_tag(@user.avatar.url(:medium)) %>
	</div>	
	<h2 class= 'text-center marg-bot'> <%= @user.name %> </h2>

	<div class='col-md-4 pad-zero'>
		<%= f.label :password, "New Password" %>
	</div>
	<div class='col-md-8 pad-zero marg-bot'>
		<%= f.password_field :password, class:"form-control ", required: true %>	
	</div>

	<div class='col-md-4 pad-zero'>
		<%= f.label :password_confirmation, "Confirm Password" %>
	</div>
	<div class='col-md-8 pad-zero marg-bot'>
		<%= f.password_field :password_confirmation, class:"form-control ", required: true %>	
	</div>

	<button type='submit' class='btn btn-primary btn-block'> <i class='fa fa-check'></i> Update Password</button>

	<% end %>
</div>
<script>
	$(document).ready(function(){
		$("#navheader").hide();
	});
</script>