<style> .col-md-2{padding: 0}.col-md-10{padding: 0} .col-md-4{padding: 0}.col-md-9{padding: 0}.col-md-8{padding: 0}.col-md-12{padding:0} .col-md-3{padding:0} .col-md-6{padding:0} </style>

<div class='col-md-12'> 
  <div class='col-md-2 text-center'> <%= image_tag(@topic.topic_icon(:thumb)) %> </div> 
  <div class='col-md-8'> <h1 class='marg-bot ' id='form_heading'> </h1> </div>
  <div class='col-md-2'> <button type='button' class='btn btn-default pull-right' id="close_topic_form"> <i class='fa fa-remove'></i> Close</button> </div>
</div>

<div class='col-md-12'>
  <%= form_for(@topic, url: group_create_topic_path, html: {multipart: true}, remote: true) do |f| %>
  <% render 'common_form_errors/attopic_form_errors' %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class='col-md-12'>
    <%= f.text_field :heading, class: "marg-top form-control marg-bot", placeholder: "Title for the Topic" %> 
    <%= f.text_area :body, class: "form-control marg-bot", placeholder: "Topic Content",size: "30x10" %>
  </div>

  <div class='col-md-12 '>
    <div class='col-md-6 '> 
      <div class='col-md-2 marg-top'> <%= f.check_box(:default_avatar) %> </div>
      <div class='col-md-10 marg-top'> <%= f.label(:default_avatar, "Default Topic Icon") %>  </div>
    </div>
    <div class='col-md-6 '>
      <%= f.label "Custom Avatar", class:"marg-top" %>
      <%= f.file_field :topic_icon, class:""  %>
    </div>
    <div class='col-md-12 marg-top '>
      <button type='submit' class='btn btn-primary btn-block'> <i class='fa fa-check'></i> Submit</button>
    </div>
  </div>
  <% end %>
  
</div>
