<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12'> 
  <div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 text-center'> <%= image_tag(@topic.topic_icon(:thumb)) %> </div>

  <div class='col-md-8 col-lg-8 col-xs-8 col-sm-8'> <h1 class='marg-bot ' id='jquery_form_topic_heading'> </h1> </div>

  <div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 text-right'> <%= image_tag('button_icons/cancel.png', id: "close_topic_form") %> </div>

</div>

<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 form_border' style='padding: 3% 5% 5% 5%;'>
  <%= form_for(@topic, url: group_create_topic_path, html: {multipart: true}, remote: true) do |f| %>
  <% render 'common_form_errors/attopic_form_errors' %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
    <%= f.text_field :heading, class: "marg-top form-control marg-bot", placeholder: "Title for the Topic", id:"form_topic_heading" %> 

    <%= f.text_area :body, class: "form-control marg-bot", placeholder: "Topic Content",size: "40x10" %>
  </div>


  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
    <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pad-zero'> 
      <div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 marg-top pad-zero'> <%= f.check_box(:default_avatar) %> </div>

      <div class='col-md-10 col-lg-10 col-xs-10 col-sm-10 marg-top pad-zero'> <%= f.label(:default_avatar, "Default Topic Icon") %>  </div>

    </div>

    <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pad-zero'>
      <%= f.label "Custom Avatar", class:"marg-top" %>
      <%= f.file_field :topic_icon, class:""  %>
    </div>

    <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-top pad-zero'>
      <button type='submit' class='btn btn-success btn-block'> <i class='fa fa-check'></i> Submit</button>
    </div>

  </div>

  <% end %>
</div>

<script type='text/javascript'> 
  $("#form_topic_heading").keyup(function(){
    $("#jquery_form_topic_heading").html($(this).val());
  });
  $("form").submit(function(){
    $("#jquery_loading").css("display", "block"); 
  });
  $("#close_topic_form").css('cursor', "pointer");
</script>