<% if @groups.count >0 %>
<% @groups.each do |group| %>
<div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 marg-top pad-zero text-center' id="group_<%= group.id %>"> 
	<%= link_to image_tag(group.cover_page.url(:medium)), group %> <br>
	<h4><%= link_to group.name, group %></h4>

	<% if group_admin(group.user_id) %> 
	<div class='marg-top10 marg-bot10'>
		<%= link_to image_tag('button_icons/writing.png'), edit_group_path(group), remote: true, id:"edit_group_button", title:"Edit #{group.name}" %>
		<%= link_to image_tag('button_icons/remove.png'), group, method: :delete, data: { confirm: 'Are you sure you want to delete?' }, title:"Delete #{group.name}", remote: true %>  
	</div>

	<% end %>
	<div class='well marg-top marg-bot text-left'>     
		<h6 class='marg-top10'> Admin: <%= link_to group.user.name, group.user %> </h6>
		<h6> Members: <%= group.member_count %> </h6>
		<h6> Topics: 
			<% if group.topics.any? %> 
			<% if group.topics.count > 1 %>
			<%= group.topics.count %> Topics 
			<% elsif group.topics.count < 2 %>
			<%= group.topics.count %> Topic
			<% else %>
			No Topics Available
			<% end %> 
			<% end %>
		</h6>
	</div>
	
</div>

<% end %>
<div class='marg-top col-md-6 col-lg-6 col-xs-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3'>
	<%= will_paginate @groups, renderer: BootstrapPagination::Rails %> 
</div>

<script type='text/javascript'>
	$(function(){ $('.pagination a').attr('data-remote', 'true') });
</script>

<% elsif not @groups.count>0 %>
<div class='well col-md-8 col-lg-8 col-xs-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2'>
	<h3> No Groups Created!</h3> 
	<h6 class='marg-top'> Please Click the <strong>Plus Icon</strong> to create a New Group</h6>
	<h6 class='marg-top2'>You can click the <strong>Search Icon</strong> to browse groups of other users.</h6>
</div>

<% end %>