<% provide(:title,"Groups")%>
<div id="show_flash_messages" class='col-md-6 col-lg-6 col-xs-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3'></div>

<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12' id='group_forms'></div>

<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero' id="show_all_groups">
  <div class='col-md-5 col-lg-5 col-xs-5 col-sm-5'>
    <h1 class='marg-zero'> Groups <%= link_to image_tag('button_icons/plus_64.png'), new_group_path, class:"create_new_button", remote: true, id:"new_group_button", title:"Create New group" %> </h1>
  </div>

  <div class='col-md-5 col-lg-5 col-xs-5 col-sm-5 '> <%= render 'group_search' %>  </div>

  	<div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 text-right pad-zero'>
		<%= link_to image_tag('button_icons/back_button.png'), all_items_path, title:"Back to Gallery" %>
		<span class='marg-left'><%= link_to "Back", all_items_path %></span>
	</div>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-top' id='all_groups_div'> <%= render 'groups' %> </div>

</div>
