<% provide(:title, @group.name)%>

<div id="show_flash_messages" class='col-md-6 col-lg-6 col-xs-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3'></div>


<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 '>
	<div class='marg-top2 text-center'> 
		<%= image_tag(@group.cover_page.url(:large)) %>
		<h3 class=''> <%= link_to @group.name, @group %> </h3>
	</div>

	<div class='well'>
		<h6> Admin: <%= link_to @group.user.name, @group.user %> </h6>
		<h6> Members: <%= @group.member_count %> </h6>

		<h6> Topics: 
			<% if @topics_of_group %>
			<span id='topic_count_div'> <%="#{@topics_of_group.count}"%></span>  
			<% else %> No Topics Created Yet <% end %>
		</h6>
		
		<div class='text-center' style='border-top:1px solid lightgrey; margin-top:5%; padding-top: 3%'>
			<% if check_pending_member(@group.id) %> 
			Pending 
			<% end %>

			<% if not check_pending_member(@group.id) && member_joined(@group) %>
			<div id='group_leave_butoon'>
				Joined 
			</div>

			<% elsif not member_joined(@group) %> 
			<div id='group_membership_form'>
				<%= render 'memberships/form' %> 
			</div>

			<% end %>
		</div>
	</div>

</div>

<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 col-md-offset-1' id='group_topic_form'></div>

<div class='col-md-8 col-lg-8 col-xs-8 col-sm-8' id='group_topics_div'> 
	<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-bot'>
		<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right'>
			<%= link_to image_tag('button_icons/plus_64.png'), group_new_topic_path, remote: true, id: "group_new_topic_button", title: "Start Your Topic" %>
		</div>

		<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right'>
			<%= link_to image_tag('button_icons/back_button.png'), groups_path, id:"groups_path_button" %>
		</div>

	</div>

	<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 ' id='group_topics'>
		<h4 class='text-left marg-bot10'>
			Topics in <strong> <%= @group.name %> </strong>
		</h4>
		<% if @topics_of_group %> <%= render 'topics_of_group' %> <% end%>
	</div>

</div>

