<div class='form_border' style='padding: 7%;'>
	<%= form_for(@user, url: update_user_password_path(current_user), html: { multipart: true }, remote:true) do|f| %>
	<%= render 'common_form_errors/atuser_form_errors' %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<div class='marg-top pad-zero'>
		<h4 class='text-center marg-top'> Account Settings </h4>
		<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-top10 marg-bot10 pad-zero'>
			<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4  pad-zero'>
				<%= f.label :current_password, "Current Password" %>
			</div>
			<div class='col-md-8 col-lg-8 col-xs-8 col-sm-8 pad-zero'> 
				<%= f.password_field :current_password, class:'form-control', required: true, id: "current_password_field" %>	
			</div>
		</div>

		<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-bot10  pad-zero'>
			<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 pad-zero'>
				<%= f.label :password, "New Password" %>
			</div>

			<div class='col-md-8 col-lg-8 col-xs-8 col-sm-8 pad-zero'> 
				<%= f.password_field :password, class:'form-control', id:"new_pass", required: true%>
			</div>
		</div>

		<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-bot10 pad-zero'>
			<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 pad-zero'>
				<%= f.label :password_confirmation, "Confirm New Password" %>	
			</div>

			<div class='col-md-8 col-lg-8 col-xs-8 col-sm-8 pad-zero'>
				<%= f.password_field :password_confirmation, class:'form-control ', id:"new_pass_confirm", required: true %> 
			</div>
		</div>

		<button type='submit' class='btn btn-success btn-block'><i class='fa fa-check'></i> Update Password</button>
	</div>

	<% end %>
</div>
<script type='text/javascript'> 
	$("form").submit(function(){
		$("#jquery_loading").css("display", "block"); 
		// $("#show_flash_messages").html("");	
	});
</script>