<h1 class='marg-bot2 text-center' id='form_heading'> </h1> 
<div class='col-md-4 text-center'> 
	<%= image_tag(@publisher.cover_page.url(:medium)) %>
</div>
<div class='col-md-4 form_border'>
	<%= form_for(@publisher, html: {multipart: true}, remote: true) do |f| %>
	<style> .col-md-2{padding: 0}.col-md-10{padding: 0} .col-md-3{padding: 0}.col-md-9{padding: 0}.col-md-6{padding: 0}.col-md-12{padding:0} </style>

	<% render 'common_form_errors/atpublisher_form_errors' %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<div class='col-md-3 '> <%= f.label :name, class:" marg-top" %> </div>
	<div class='col-md-9'> <%= f.text_field :name, class:"form-control marg-bot", placeholder: "Publisher Name" %> </div>

	<div class='col-md-3 '> <%= f.label :address, class:" marg-top" %> </div>
	<div class='col-md-9'> <%= f.text_field :address, class:"form-control marg-bot", placeholder: "Address" %> </div>

	<div class='col-md-3 '> <%= f.label :website, class:" marg-top" %> </div>
	<div class='col-md-9'> <%= f.text_field :website, class:"form-control marg-bot", placeholder: "Visit" %> </div>

	<div class='col-md-12 marg-bot'>
		<div class='col-md-6 '> 
			<div class='col-md-2 marg-top'>	<%= f.check_box(:default_avatar) %>	</div>
			<div class='col-md-10 marg-top marg-bot'> <%= f.label(:default_avatar, "Default Book Avatar") %>	</div>
		</div>
		<div class='col-md-6 '>
			<%= f.label "Custom Avatar", class:"marg-top" %>
			<%= f.file_field :cover_page, class:"" %>
		</div>
	</div>
	
	<button type='submit' class='btn btn-default btn-block'> <i class='fa fa-check'></i> Submit</button>

	<% end %>
</div>
<div class='col-md-4 text-center'>
	<%= link_to image_tag('button_icons/back_button.png'), publishers_path %>
	<span style='margin-left: 2%;'><%= link_to "Back", publishers_path %></span>
</div>
<script type='text/javascript'> 
	$("form").submit(function(){
		$("#jquery_loading").css("display", "block"); 
	});
</script>