<% provide(:title, "Gallery") %>
<h2 class='text-uppercase text-center' style='margin-bottom: 5%;'> Gallery </h2>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_book.png"), books_path %> 
	<h4> <%= link_to "BOOKS", books_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_author.png"), authors_path %>
	<h4> <%= link_to "AUTHORS", authors_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_publisher.png"), publishers_path %>
	<h4> <%= link_to "PUBLISHERS", publishers_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_genre.png"), genres_path %>
	<h4> <%= link_to "GENRES", genres_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_review.png"), reviews_path %>
	<h4> <%= link_to "REVIEWS", reviews_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_group.png"), groups_path %>
	<h4> <%= link_to "GROUPS", groups_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_topic.png"), topics_path %>
	<h4> <%= link_to "TOPICS", topics_path %> </h4>
</div>

<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 gallery_item_div text-center'>
	<%= link_to image_tag("medium/default_author.png"), memberships_path %>
	<h4> <%= link_to "MEMBERSHIPS", memberships_path %> </h4>
</div>


