<%= link_to '<i class= "fa fa-chevron-left"></i> Back'.html_safe, book_path(@book), class:"btn btn-default pull-right" %>
<h1 class='marg-bot text-center' id='form_heading'> </h1> 

<div class='col-md-4 text-center'> <%= image_tag(@review.cover_page.url(:large)) %> </div>
<div class='col-md-6'>
  <%= form_for(@review, html: {multipart: true}, remote: true, url: create_bookreview_path) do |f| %>
  <style> .col-md-2{padding: 0}.col-md-10{padding: 0} .col-md-8{padding: 0}.col-md-3{padding: 0}.col-md-9{padding: 0}.col-md-6{padding: 0}.col-md-12{padding:0} .col-md-4{padding: 0}</style>

  <% render 'common_form_errors/atreview_form_errors' %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :book_id, @book.id %>
  
  <div class='col-md-3 '> <%= f.label :heading, class:" marg-top" %> </div>
  <div class='col-md-9'> <%= f.text_field :heading, class:"form-control marg-bot", placeholder: "review Name" %> </div>
  
  <div class='col-md-5 marg-top '> <%= f.label :status, "Review Status" %> </div>
  <div class='col-md-7 pad-zero marg-top '>
  <%= f.select :status, options_for_select([['Publish', 'publish'], ['Draft', 'draft']], @review.status), {}, class:"form-control", required: true %>
  </div>

  <div class='col-md-3 '> <%= f.label :review, class:" marg-top" %> </div>
  <div class='col-md-9'> <%= f.text_area :review, class:"form-control marg-bot", placeholder: "Address" %> </div>

  <div class='col-md-12 marg-bot'>
    <div class='col-md-3'> <label> Avatar </label></div>
    <div class='col-md-9 '>
      <div class='col-md-6 '> 
        <%= image_tag(@review.cover_page.url(:thumb)) %> <br>
        <div class='col-md-2 marg-top'> <%= f.check_box(:default_avatar) %> </div>
        <div class='col-md-10 marg-top marg-bot'> <%= f.label(:default_avatar, "Default Review Avatar") %>  </div>
      </div>
      <div class='col-md-6 '>
        <%= f.label "Custom Avatar", class:"marg-top" %>
        <%= f.file_field :cover_page, class:"" %>
      </div>
    </div>
  </div>

  <button type='submit' class='btn btn-default btn-block'> <i class='fa fa-check'></i> Submit</button>

  <% end %>
</div>
