<h1 class='marg-bot text-center' id='form_heading'> </h1> 
<div class='col-md-4 text-center'> <%= image_tag(@book.cover_page.url(:medium)) %> </div>
<div class='col-md-4'>
	<%= form_for(@book, html:{ multipart: true}, remote: true) do |f| %>
	<style> .col-md-2{padding: 0}.col-md-10{padding: 0} .col-md-3{padding: 0}.col-md-9{padding: 0}.col-md-6{padding: 0}.col-md-12{padding:0} </style>

	<% render 'common_form_errors/atbook_form_errors' %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<div class='col-md-3 '> <%= f.label :title, class:" marg-top" %> </div>
	<div class='col-md-9'> <%= f.text_field :title, class:"form-control marg-bot", placeholder: "Book Title" %> </div>

	<div class='col-md-3 '>  <%= f.label :author_id, class:" marg-top" %>	</div>
	<div class='col-md-9'>  <%= f.select(:author_id, Author.all.map {|a| [a.name, a.id]},{},class:"form-control marg-bot") %>	</div>

	<div class='col-md-3'> 	<%= f.label :publisher_id, class:"marg-top"%> </div>
	<div class='col-md-9'>  <%= f.select(:publisher_id, Publisher.all.map {|p| [p.name, p.id]},{},class:"form-control marg-bot") %> </div>

	<div class='col-md-3'> 	<%= f.label :genre_ids, "Genres", class:"marg-top"%> </div>
	<div class='col-md-9'>  <%= f.select(:genre_ids, Genre.all.map {|g| [g.name, g.id]},{},class:"form-control marg-bot", multiple: true) %> </div>

	<div class='col-md-3'> 	<%= f.label :publication_date, class:" marg-top" %> </div>
	<div class='col-md-9'> 	<%= f.date_field :publication_date, class: "form-control marg-bot" %> </div>

	<div class='col-md-12 marg-bot'>
		<div class='col-md-6 '> 
			<div class='col-md-2 marg-top'>	<%= f.check_box(:default_avatar) %>	</div>
			<div class='col-md-10 marg-top marg-bot'> <%= f.label(:default_avatar, "Default Book Avatar") %>	</div>
		</div>
		<div class='col-md-6 '>
			<%= f.label "Custom Avatar", class:"marg-top" %>
			<%= f.file_field :cover_page, class:"" %>
		</div>
	</div>
	
	<div class='col-md-3'> 	<%= f.label :book_summary, class:" marg-top" %> </div>
	<div class='col-md-9'> 	<%= f.text_area :book_summary , class:"form-control marg-bot", placeholder: "Whatś the story about" %> </div>
	
	<button type='submit' class='btn btn-default btn-block'> <i class='fa fa-check'></i> Submit</button>
	<% end %>
</div>
<div class='col-md-4'>
	<%= link_to '<i class= "fa fa-chevron-left"></i> Back'.html_safe, books_path, class:"btn btn-default pull-right" %>
</div>