<% provide(:title,"Books")%>
<div id="show_flash_messages" class='col-md-6 col-md-offset-3'></div>
<div class='col-md-12' id='book_forms'></div>
<div class='col-md-12 pad-zero' id="show_all_books">
	<div class='col-md-5 '>
		<h1 class='marg-zero' > Books <%= link_to image_tag('button_icons/plus_64.png'), new_book_path, remote: true, id:"new_book_button", title:"Create New Book", class: "create_new_button" %> </h1>
	</div>
	<div class='col-md-5 pad-zero'> <%= render 'book_search' %> </div>
	<div class='col-md-2 text-right pad-zero'>
		<%= link_to image_tag('button_icons/back_button.png'), all_items_path, title:"Back to Gallery" %>
		<span class='marg-left'><%= link_to "Back", all_items_path %></span>
	</div>
	<div class='col-md-12 marg-top' id='all_books_div'> <%= render 'books' %> </div>
</div>
