<h1 class='marg-bot text-center' id='form_heading'> </h1> 
<div class='well col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center'> 
	<%= image_tag(@review.cover_page.url(:medium)) %>
	<h3 id='jquery_review_heading'></h3>
	<h6 class='marg-top10 marg-bot'>Review Writer: <%= current_user.name %></h6>
	<h6 class= 'marg-bot' id='jquery_review_book'></h6>
	<h6 id='jquery_review_status'></h6>
</div>

<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 pad-zero form_border'>
	<%= form_for(@review, html: {multipart: true}, remote: true) do |f| %>

	<% render 'common_form_errors/atreview_form_errors' %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= hidden_field_tag :user_id, current_user.id %>

	<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 pad-zero'> <%= f.label :heading, class:" marg-top" %> </div>

	<div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 pad-zero'> <%= f.text_field :heading, class:"form-control marg-bot", placeholder: "Review Heading", id:"form_review_heading" %> </div>

	<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 pad-zero'>  <%= f.label :book_id, class:"marg-top"%> </div>

	<div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 pad-zero'>  <%= f.select(:book_id, Book.all.map {|b| [b.title, b.id]},{},class:"form-control", id:"form_review_book") %> </div>

	<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 marg-top pad-zero'> <%= f.label :status, "Review Status" %> </div>

	<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pull-right marg-top pad-zero'>
		<%= f.select :status, options_for_select([['Publish', 1], ['Draft', 0]], @review.status), {}, class:"form-control marg-bot", id:"form_review_status" %>
	</div>

	<div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 marg-top pad-zero'> <%= f.label :review, class:" marg-top" %> </div>

	<div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 pad-zero'> <%= f.text_area :review, class:"form-control marg-bot", placeholder: "Review", id:"form_review_full_review" %> </div>

	<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-bot pad-zero'>
		<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pad-zero'> 
			<div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 marg-top pad-zero'> <%= f.check_box(:default_avatar) %> </div>

			<div class='col-md-10 col-lg-10 col-xs-10 col-sm-10 marg-top marg-bot pad-zero'> <%= f.label(:default_avatar, "Default Review Avatar") %>  </div>

		</div>

		<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pad-zero'>
			<%= f.label "Custom Avatar", class:"marg-top" %>
			<%= f.file_field :cover_page, class:"" %>
		</div>

	</div>

	<button type='submit' class='btn btn-success btn-block'> <i class='fa fa-check'></i> Submit</button>
	<% end %>
</div>

<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center'>
	<%= link_to image_tag('button_icons/back_button.png'), reviews_path %>
	<span style='margin-left: 2%;'><%= link_to "Back", reviews_path %></span>
</div>

<script type='text/javascript'>
	$("#form_review_heading").keyup(function(){
		$("#jquery_review_heading").html($(this).val());
	}); 
	$("#form_review_book").keyup(function(){
		$("#jquery_review_book").html($(this).val());
	}); 
	$("#form_review_status").keyup(function(){
		$("#jquery_review_status").html($(this).val());
	}); 
	$("form").submit(function(){
		$("#jquery_loading").css("display", "block"); 
	});
</script>