<div class='col-md-8 col-lg-8 col-xs-8 col-sm-8 text-center marg-bot'> 
  <%= image_tag(@review.cover_page.url(:thumb)) %> 
  <h3 class='marg-bot text-center' id='book_reviewform_heading'> </h3> 
</div>

<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 marg-bot text-right'>
  <%= image_tag('button_icons/remove.png', id: "book_review_form_close_button") %>
</div>

<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
<%= form_for(@review, url: book_create_review_path, html: {multipart: true}, remote: true) do |f| %>

  <% render 'common_form_errors/atreview_form_errors' %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :book_id, @book.id %>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
    <div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 pad-zero'> <%= f.label :heading, class:" marg-top" %> </div>

    <div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 pad-zero'> <%= f.text_field :heading, class:"form-control marg-bot", placeholder: "Review Heading", id: "bookform_review_heading" %> </div>

  </div>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
    <div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 pad-zero'>  <%= f.label :book_id, class:"marg-top"%> </div>

    <div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 pad-zero'>  <%= @book.title %> </div>

  </div>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
    <div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 pad-zero marg-top'> <%= f.label :status, "Review Status" %> </div>

    <div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 marg-top pad-zero'>
      <%= f.select :status, options_for_select([['Publish', 1], ['Draft', 0]], @review.status), {}, class:"form-control marg-bot" %>
    </div>

  </div>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-zero'>
    <div class='col-md-3 col-lg-3 col-xs-3 col-sm-3 pad-zero'> <%= f.label :review, class:" marg-top" %> </div>

    <div class='col-md-9 col-lg-9 col-xs-9 col-sm-9 pad-zero'> <%= f.text_area :review, class:"form-control marg-bot", placeholder: "Review" %> </div>

  </div>

  <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-bot pad-zero'>
    <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pad-zero'> 
      <div class='col-md-2 col-lg-2 col-xs-2 col-sm-2 marg-top pad-zero'> <%= f.check_box(:default_avatar) %> </div>

      <div class='col-md-10 col-lg-10 col-xs-10 col-sm-10 marg-top marg-bot pad-zero'> <%= f.label(:default_avatar, "Default Review Avatar") %>  </div>

    </div>

    <div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 pad-zero'>
      <%= f.label "Custom Avatar", class:"marg-top" %>
      <%= f.file_field :cover_page, class:"" %>
    </div>

  </div>

  
  <button type='submit' class='btn btn-success btn-block'> <i class='fa fa-check'></i> Submit</button>
  <% end %>
</div>




<script type='text/javascript'> 
  $("#book_review_form_close_button").hover(function(){
    $(this).css('cursor', 'pointer');
  });
  $("#bookform_review_heading").keyup(function(){
    $("#book_reviewform_heading").html($(this).val());
  });
  $("#book_review_form_close_button").click(function(){
    $("#book_review_form_div").fadeOut(100);
    $("#book_all_info_div").show();
    $("#book_review_add_button_div").show();
    $("#jquery_loading").css("display", 'none');
  });
  $("form").submit(function(){
    $("#jquery_loading").css("display", "block"); 
  });
</script>