<% provide(:title, @review.heading)%>
<!-- <p id="notice"><%= notice %></p> -->
<%= link_to '<i class= "fa fa-chevron-left"></i> Back'.html_safe, book_path(@review.book), class:"btn btn-default pull-right" %>
<div class='col-md-4'> 
  <%= image_tag(@review.cover_page.url(:large)) %>
  <h3 class='text-center'> <%= link_to @review.heading, @review %> </h3>
  <div class='col-md-12'> <%= image_tag(@review.book.cover_page.url(:thumb)) %>  <h6>Book:  <%= link_to @review.book.title, @review.book %> </h6> 
  </div>
  <div class='col-md-12'>
    <%= image_tag(@review.user.avatar.url(:thumb)) %> <h6>Review Writer:  <%= link_to @review.user.name, @review.user %> </h6> 
  </div>
  <div class='col-md-12'>
    <h6>Publication Date: <%= @review.created_at %> </h6>
  </div>      
</div>
<div class='col-md-8'>
  <% if @review.status == 0 %> <h3 class='text-center'>Review Not Yet Published!</h3>
  <% elsif @review.status ==1 %> <h3> <%= @review.review %></h3>  <% end %>
</div>
</div>