<!DOCTYPE html>
<style>
	html,body, #fullheight { min-height: 100% !important; background-color: #f5f5f5; margin:0; padding: 0}
</style>

<html>
<head>
	<title> <%= full_title(yield(:title)) %> </title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= favicon_link_tag 'home_logo/book_logo.png' %>
	<link href="https://fonts.googleapis.com/css?family=Nato+Sans|Crimson+Text|Raleway" rel="stylesheet">
</head>
<body>
	<div id= 'fullheight'>
		<div id = 'first_container' class='container'>
			<%= image_tag("home_logo/wiki_bookshelf_sm.jpg", class: "landing_pg_img")%>
			<%= render 'layouts/header' %> 
			<div id="main-container" style='margin-top: 5%;'> 
				<div id='flash_alerts_div'> <%= render 'layouts/flash_alerts' %> </div>
				<%= yield %> 
			</div>

		</div>

	</div>

</body>

</html>
